.btn {
  transition: all .2s ease-in-out;

  &-success {

    &:hover {
      color: rgba(#fff, 1);
      transform: scale(1.07);
    }
  }

  &-secondary {
    
    &:hover {
      background-color: rgba(#fff, 0.1) !important;
      transform: scale(1.07);
    }
  }

  &-portfolio {
    position: relative;
    padding: 12.5px 22.5px;
    
    &:hover {
      background-color: $brandPink !important;
      color: #fff;
    }

    &:focus {     
      background-color: $brandPink !important;
      color: #fff;  
    }

    /*&-active {
      background-color: $brandPink !important;
      color: #fff;  
    }

     &:not(.collapsed-accordion) {
      background-color: $brandPink !important;
      color: #fff; 
    }*/

    span {
      position: absolute;
      bottom: -15px;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid $medPurple;
    }

    &:focus > span {     
      border-top: 15px solid $brandPink;
    }

    &:hover > span {
      border-top: 15px solid $brandPink;
    }
  }

  &-rectangle {
    font-size: 1rem !important;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
  }
  
  &-socials {
    position: relative;
    width: 35px;
    height: 35px;
    font-size: 1.25rem !important;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
  
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

a {
text-decoration: none;
}



