.btn {
  transition: all .2s ease-in-out;

  &-success {

    &:hover {
      color: rgba(#fff, 1);
      transform: scale(1.07);
    }
  }

  &-secondary {
    
    &:hover {
      background-color: rgba(#fff, 0.1) !important;
      transform: scale(1.07);
    }

    &:hover {
      background-color: rgba(#fff, 0.1) !important;
      transform: scale(1.07);
    }
  }

  &-rectangle {
    font-size: 0.8125rem !important;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
  }
  
  &-socials {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 1rem !important;
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
  
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-portfolio {
    position: relative;
    padding: 12.5px 22.5px;

    span {
      position: absolute;
      bottom: -15px;
      left:0;
      right:0;
      margin-left:auto;
      margin-right:auto;
      width: 0; 
      height: 0; 
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      
      border-top: 15px solid $medPurple;

      &:hover {
        border-top: 15px solid $brandPink;
        transform: scale(1.07);
      }
    }
  }
}

a {
text-decoration: none;
}



