.hero {
  position: relative;
  min-height: 512px;
  background: $darkPurple url(/img/Images/Hero-background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center bottom;

  img {
    position: absolute;
    right: 7%;
    top: 20%;
  }
}
