.navbar-brand {
  text-align: center;

  img {
    vertical-align: middle;
    transition: all .2s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
  }
}
// OVERRIDE for nav hover and active
.navbar ul.navbar-nav li.nav-item a:hover,
.navbar ul.navbar-nav li.nav-item.active a {
  color: $brandPink;
}

.navbar-nav {
  
  .btn {
    margin: 0 auto;
  }
}
