.portfolio {
  padding: 70px 0 75px 0;

  h1 {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 5px;
  }

  span {
    display: inline-block;
    vertical-align: middle;

    img {
      display: block;
      height: 15px;
      width: auto;
      border-radius: 0px !important;
      cursor: pointer;
      margin-bottom: 4px;
    }
  }



  .card {
    border-width: 0 !important;
    box-shadow: none !important;

    p {
      display: inline;
    }

    &__link-icon {
      display: inline-block;
      float: right;
      border-radius: 0px !important;
      cursor: pointer;

      img {
        display: block;
        height: 27px;
        width: auto;
        border-radius: 0px !important;
        cursor: pointer;
      }
    }
  }

  a {

    :hover {
      color: #ff9599;
      transform: scale(1.05);
    }
  }

  &__image {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  &__link-btn {
    display: inline !important;
    padding: 1px 8px !important;
    vertical-align: middle;
    background-color: $medPurple;
    border-radius: 13px;
    border: #fff 1.5px solid;
    float: right;
    cursor: pointer;
    margin: 0 !important;


    p {
      font-size: .7rem !important;
      margin: 0 !important;
      padding: 0 !important;
    }

    i {
      color: #fff;
      margin: 0 !important;
      padding: 0 !important;
    }

    &:hover {
      border: $brandPink 1.5px solid;
      color: $brandPink;

      P {
        color: $brandPink;
        padding: 0 !important;
        margin: 0 !important;
      }

      i {
        color: $brandPink;
        padding: 0 !important;
        margin: 0 !important;
      }
    }
  }


  &__header {

    &--buttons {
      position: relative;

      height: 75px;
      text-align: center;

      @include respond-to("md") {
        height: auto;
      }

      &--group {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        @include respond-to("md") {
          position: absolute;
          bottom: 0;
          left: auto;
          right: 0;
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}